@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&family=Rowdies:wght@300;400&display=swap');



html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;



}
header {
    background-color: #74c5b4;
    height: 78px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.head {
    width: 100%;
    height: 100%;
}
#logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -10px;
    margin-left: 5%;
}
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 5px;
}
li {
    float: left;
    padding: 25 15 20 15;
}
li:hover {
    background-color: #c5f0e7;
    margin-top: 0.4%;
    font-size: 110%;
}



#imagem_fundo {
    background: url("fundo.jpg");
    height: 100%;
    text-align: center;
    background-size: cover;
}
#titulo {
    color: rgb(7, 77, 50);
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
    font-family: Arial;   
}
#subtitulo {
    color: rgb(7, 77, 50);
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid rgb(78, 182, 142);
    text-shadow: 1px 1px  rgb(190, 255, 239);
}




section {
   padding: 20px;
    float: left;
}




#biologia { 
    width: 97%;
    text-align: center;
    color: black;
    float: left;
}
#covid {
    width: 55%;
    text-align: left;
    color: black;
    float: right;
    margin-left: 0%;
}
#paragra {
    text-indent: 50px;
    line-height: 30px;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right: 6%;
    margin-left: 6%;
}



#matematica { 
    width: 96.7%;
    color: black;
   
}
#items-wrapper {
    width: 130%;
    place-items: center;
    float: center;
    margin-right: 20%;
}
#items {
    display: flex;
    overflow-x: auto;
}
.item {
    flex: none;
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}
.margens {
    margin-left: 5%;
    margin-right: 5%;
}

#secao {
    width: 20%;
    margin-right: 10%;
    float: right;
}
#secaodi {
    width: 20%;
    margin-left: 0.3%;
    float: left;
}

#graficos {
    width: 50%;
    text-align: left;
    color: black;
    float: left;
    margin-left: 0%;
}


#portugues { 
    width: 97%;
    text-align: left;
    color: black;
}
#paragrafo {
    text-indent: 50px;
    line-height: 30px;
    margin-bottom: 0%;
    margin-top: 0%;
}
#citacao {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 120px;
    font-size: 12px;
}
#quebrapag {
    line-height: 30px;
    margin-bottom: 0%;
    margin-top: 0%;
}
#nome {
    margin-bottom: 0%;
    margin-top: 5%;
    text-align: right;
    font-style: italic;
}



#humanas { 
    width: 97%;
    text-align: left;
    color: black;
}
#direita {
    float: right;
    width: 30%;
    background-color: #e5f8f4;
    border: #71a78c;
    border-style: dotted;
    margin-right: 5%;
}
#esquerda {
    float: left;
    width: 55%;
    margin-left: 0.5;
    margin-top: -2%;
    margin-bottom: 3%;
}
.tamanho {
    width: 100%;
}



.destaque {
    background-color: #f7f7f7;
}
.marcacao {
    background-color: #e5f8f4;
    float: left;
    margin-right: 0.3%;
    margin-left: 0.3%;
    line-height: 30px;
}
.verde {
    background-color: #e5f8f4;
    margin-left: 0.3%;
    margin-right: 0.3%;
}


.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}
.colune {
    float: left;
    padding: 0 5%;
    position: relative;
}
.um {
    width: 100%;
    margin-right: 5%;
}
.dois {
    width: 40%;
}
.cinco {
    width: 10%;
}
.tres {
    width: 29%;
    padding: 0 2%;
}

.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
.central {
    text-align: center;
    margin-top: -7%
}
.topo {
    margin-top: 0%;
}

footer {
    background-color: #B0D9C5;
    float: left;
    width: 100%;
    height: 70%;
    color: rgb(7, 77, 50);
    margin-bottom: 0%;
}
.imagemnos {
    width: 100%;
    height: 50%;
    align-items: center;
    border: rgb(7, 77, 50);
    border-style: dotted;
}
.coruja {
    width: 80%;
    height: 75%;
    align-items: center;

}
.claro {
    background-color: #cce6d9;
}

@media all and (max-width: 800px) {
    body {
        padding: 0;
    }


    #menu {
        visibility: hidden;
    } 
    header {
        width: 100%;
    }
    #imagem_fundo {
        background: url("fundo.jpg");
        height: 100%;
        width: 111%;
        text-align: center;
        background-size: cover;
    }
    #titulo {
        color: rgb(7, 77, 50);
        padding-top: 40%;
        font-size: 40px;
        line-height: 0.6;
        font-family: Arial;
    }
    .coluna, .dois, .um, .tres, .quatro, #itemswrapper, #direita, #esquerda {
         display: block;   
         width: 80%;
         padding: 0;
         margin: 10px auto;
         float: none;
    }
    .colune {
        float: left;
        padding: 0;
        position: static;
        margin: 10px auto;
        width: 20%;
        align-items: left;
    }
    .cinco {
        width: 10%;
        -text-align: left;
    }
    .imagemnos {
        width: 10%;
        height: 7%;
        align-items: center;
        border: darkgreen;
        border-style: dotted;
    }
    footer {
        height: 160%;
        width: 115%;
    }
    .coruja {
        width: 50%;
        height: 20%;
    }
    

    #logodiv {
        width: 100%;
        position: relative;
        text-align: center;
        padding: 0px;
    }
    #logo {
        margin-left: 0px;
        transform: translateX(-50%);
    }
    #itemswrapper {
        float: center;
        place-items: center;
        display: block;
        width: 10%;
        height: 10%;
        margin-left: -10%;
        
    }
    .item {
        width: 100%;
        height: 100%;
    }
    #itemswrapper .margens {
        padding: 0;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        width: 10%;
        height: 10%;
    }
    #secaodi {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        width: 50%;
    }
    #secao {
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        width: 50%;
    }
  

    #biologia, #covid, #graficos, #destaque, #portugues, #humanas, #matematica {
        width: 100%;
    }


    #esquerda {
        margin-top: -7%;
    }
    #direita {
        margin-top: 10%;
    }
    .central {
        margin-top: 0.5%;
    }
    #celular {
        margin-bottom: 5%;
    }
    .alinhamento {
        margin-left: 5%;
        width: 90%;
    }


.cinco {
    width: 100%;
}

.creditos {
    visibility: hidden;
}

 }
 
